<div class="container-fluid text-center mt-auto">
  <div class="card row ">
    <div class="col">
      <form class="row">
        <div class="col-md-6">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="name" >
        </div>
        <div class="col-md-6">
          <label for="last-name" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="last-name" >
        </div>
        <div class="col-12">
          <label for="email" class="form-label">Correo Electronico</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="col-12">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <div class="col-12 pt-10">
          <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
